/* RESET SUAVE */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* FONDO GENERAL */
body{
    font-family: 'Segoe UI', sans-serif;
    background:#F5F7FA;
    color:#1F2937;
}

/* CONTENEDOR PRINCIPAL */
.main_contenedor{
    width:900px;
    margin:40px auto;
}

/* TITULO */
.titulo{
    margin-bottom:20px;
}

.titulo h2{
    letter-spacing:1px;
    font-weight:600;
}

/* ZONA CENTRAL */
.contenido{
    display:flex;
    gap:20px;
    height:520px;
}

/* PANEL IZQUIERDO */
.panel_lista{
    width:280px;
    display:flex;
    flex-direction:column;
}

/* BUSCADOR */
.buscador{
    margin-bottom:12px;
}

.buscador input{
    width:100%;
    padding:12px 14px;
    border-radius:10px;
    border:1px solid #E4E7EC;
    outline:none;
    font-size:14px;
    transition:.2s;
    background:white;
}

.buscador input:focus{
    border-color:#6366F1;
    box-shadow:0 0 0 3px rgba(99,102,241,.15);
}

/* LISTA DE FRUTAS */
.lst_frutas{
    flex:1;
     height: 400px; 
    overflow-y:auto;
    background:white;
    border-radius:14px;
    border:1px solid #E4E7EC;
    box-shadow:0 6px 18px rgba(0,0,0,.05);
}

/* CADA FRUTA */
.item_fruta{
    padding:14px;
    border-bottom:1px solid #E4E7EC;
    cursor:pointer;
    font-weight:500;
    transition:.25s;
}

/* HOVER SUAVE */
.item_fruta:hover{
    background:#EEF2F7;
    padding-left:20px;
}

/* PANEL DETALLE */
.deta_frutas{
    flex:1;
    background:white;
    border-radius:14px;
    border:1px solid #E4E7EC;
    padding:25px;
    box-shadow:0 6px 18px rgba(0,0,0,.05);
}

/* TITULO DETALLE */
.deta_frutas h2{
    margin-bottom:10px;
}

/* TEXTO DETALLE */
.deta_frutas p{
    margin:6px 0;
    color:#4B5563;
}

/* SCROLL BONITO (solo Chrome / Edge) */
.lst_frutas::-webkit-scrollbar{
    width:8px;
}

.lst_frutas::-webkit-scrollbar-track{
    background:transparent;
}

.lst_frutas::-webkit-scrollbar-thumb{
    background:#D1D5DB;
    border-radius:10px;
}

.lst_frutas::-webkit-scrollbar-thumb:hover{
    background:#9CA3AF;
}
